:root {
    --primary: #032868;
    --secondary: #1342A4;
    --customDarkBlue: #1342A4;
    --accent: #D15331;
    --navy: #091B40;
    --dark: #150710;
    --lite: #F1F0E8;
    --default: #ffffff;
}



.line:after{
  position: absolute;
  content: "";
  width:18rem;
  height: 0.19rem;
  margin-top: 0.5rem;
  background-color: var(--accent);
  border-radius: 8px;
  margin-left: 0.5rem;
 
}