input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  margin: 0;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}



body{
 background: hsla(53, 24.3%, 92.7%,0.4)

}
